body{
margin:0px;
color:white;
font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

nav{
    height:80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    height:968px;
    background-color:#2941ab;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height:530px;
    background-color:black;
    display:flex ;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
color:#1ed760;
}

.nav-item{
        padding: 28px 17px;
    font-weight: 700;
}

.main-container{
    border:1px solid red;
}

.headline{
    font-size: 126px;
    color:#1ed760;
    font-weight: 900;
    position: relative;
    left:2em;
    padding-bottom: 40px;
}

.headline-first{
    position:relative;
    left:-2.5em;
}

.sub-headline{
    color:#1ed760;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}

.button-area{
    text-align: center;
}

.button-style{
    color:#2941ab;
    font-size:16px ;
    background-color:#1ed760;
    border-radius:500px ;
    font-weight: 700;
    border: none;
    padding: 14px 32px;
    height: 46px;
}

.button-style:hover{
    transform: scale(1.05);
}

.footer-container{
    width:1170px;
    border:1px solid red;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    height: 346px;
}

.footer-menu-item{
    padding-bottom: 15px;
    padding-top: 3px;
}

.first-box{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.first-box-item{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sub-title{
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}

.second-box{
    display: flex;
    justify-content: flex-end;
    width:40%;
}

.icon-box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size:24px;
}

.first-line{
    display: flex;
    justify-content: flex-end;
    color: #919496;
}

.second-line{
    display:flex;
    justify-content: space-between;
    color: #919496;
    margin-top: 12px;
}

.second-line-item {
    margin-right: 24px;
    color: #919496;
}